version: "3.9"

services:
  # MongoDB service for data storage    
  database:
    image: mongo:7
    container_name: mongodb-pictogram
    hostname: database
    networks:
      - api-db # Internal network for communication between API and Database
    volumes:
      - mongo-data:/data/db

  # Restful API server service
  apiserver:
    container_name: pictogram-api
    build:
      context: ./PictogramAPI
      dockerfile: Dockerfile
    depends_on:
      - database
    networks:
      - api-db # Internal network for communication between API and Database
      - default # Public network for exposure
    ports:
      - "8080:8080" # Port of the API
    hostname: pictogramapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080

  # React Application service
  reactapplication:
    build:
      context: ./react_webapplication
      dockerfile: Dockerfile
    container_name: pictogram-frontend
    ports: 
      - "49732:49732" # custom port used for React application
    depends_on:
      - apiserver
    networks:
      - default # Public network for exposure

volumes: # Storage, where MongoDB Stored its data
  mongo-data:
networks: 
  api-db: # Defining internal network
    driver: bridge
    internal: true

