version: "3.9"

services:
  # MongoDB service for data storage    
  database:
    image: mongo:7
    container_name: mongodb-pictogram
    hostname: database
    volumes:
      - mongo-data:/data/db

  # Restful API server service
  apiserver:
    container_name: pictogram-api
    build:
      context: ./PictogramAPI
      dockerfile: Dockerfile
    depends_on:
      - database
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080

  # React Application service
  reactapplication:
    build:
      context: ./react_webapplication
      dockerfile: Dockerfile
    container_name: pictogram-frontend
    ports: 
      - "49732:49732"
    depends_on:
      - apiserver
      #- api-mongodb   # <-- add this if React needs to call API internally

volumes:
  mongo-data:

