services:
    # MongoDB service for data storage    
    database:
        image: mongo:7
        container_name: mongodb_pictogram
        hostname: mongodb
        networks:
          - api-mongodb
        volumes:
        - mongo-data:/data/db

    # Restful API server service
    apiserver:
        build:
            context: ./PictogramAPI
            dockerfile: Dockerfile
        depends_on:
        - database
        ports:
        - 8080:8080
        networks:
          - api-mongodb
        environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:8080
    # React Application service
    reactapplication:
      build:
          context: ./react_webaplication
          dockerfile: Dockerfile
      container_name: pictogram_frontend
      ports: 
        - "49732:80"
      depends_on:
        - apiserver
networks:
    api-mongodb:
      driver: bridge
      ipam:
        config:
          - subnet: 10.0.1.0/30

volumes:
    mongo-data: