#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}
.page {
    height:80%;
    width: 100%;
}

.navbar {
    background-color: oldlace;
    display:flex;
    width: window.innerWidth;
    position: 'absolute';
    left: 0px;
    top: 0px;
    place-items: left;
}

.navbar button 
{
    backgroundColor: 'gray';
    borderRadius: 0;
    margin: 2px;
}

.logo {
    height: 100%;
    width: 10%;
   /* position:absolute;
    left:0;
    top: 0;*/
   
}

