.module {
    background-color: dimgray;
    align-items: center;
    display:block;
}
.module input[type="text"] {
    border-color: gray;
    width: 80%;
    height:20%;
    text-align: center;
    border-radius: 20px;
    padding-left:4px;
}
    .module input[type="file"] {
        color:transparent;
        width:150px;
        padding-left: 30px;
        
    }
    .module label {
        font-size: 10pt;
        display: inline-table;
        
    }

.module button {
    border-radius:20px;
    height:3%;
    width: 40%;
    text-align: center;
    padding-left:3%;
    margin-left:6%
    
}